/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ul,
ol,
menu {
    list-style: none;
} */

/* UTILITY CLASS */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
}

li {
    border: 1px solid black;
    max-width: 300px;
}

p {
    font-size: 20px;
    line-height: 2rem;
}

.loading {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 160px;
    color: red;
    text-decoration: underline;
}

.circle-infinite {
    color: black;
    display: inline-block;
    font-size: 60px;
    animation: loading 1s infinite;
    animation-timing-function: linear;
    margin-right: 10px;
}

@keyframes loading {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
    
    
}